name: [DEV] Deploy to VPS

on:
  push:
    branches:
      - dev # Запускать при пуше в ветку dev!!

jobs:
  deploy:
    environment: dev
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.SERVER_HOST }}
          port: ${{ secrets.SERVER_PORT }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # Включаем режим, при котором скрипт прерывается при любой ошибке
            set -e
            
            # Переходим в домашнюю директорию пользователя
            cd /home/${{ secrets.SERVER_USER }}
            
            # Создаем папку проекта, если она еще не существует.
            mkdir -p plant_monitoring
            cd plant_monitoring
            
            # Если это еще не git-репозиторий, делаем его им
            if [ ! -d ".git" ]; then
              echo "Initializing git repository..."
              git init              
            fi            
            
            echo "Setting remote origin URL..."
            git remote set-url origin https://github.com/serejhaaa/plant_monitoring.git
            
            # Обновляем код до состояния ветки main
            echo "Pulling latest changes from main branch..."
            git fetch origin main
            git reset --hard origin/main
            
            # Создаем/обновляем виртуальное окружение
            if [ ! -d "venv" ]; then
              echo "Creating virtual environment..."
              python3 -m venv venv
            fi
            source venv/bin/activate
            
            # Сначала обновляем pip и setuptools до последних версий
            echo "Upgrading pip and setuptools..."
            /home/plant-deployer/plant_monitoring/venv/bin/pip install --upgrade pip setuptools
            
            # Устанавливаем/обновляем зависимости проекта
            echo "Installing requirements..."
            /home/plant-deployer/plant_monitoring/venv/bin/pip install -r requirements.txt
            
            # Создаем/обновляем .env файл для секретов
            echo "Configuring environment variables..."
            cat > .env <<EOF
            SECRET_TOKEN=${{ secrets.SECRET_TOKEN }}
            DB_NAME=${{ secrets.DB_NAME }}
            DB_USER=${{ secrets.DB_USER }}
            DB_PASSWORD=${{ secrets.DB_PASSWORD }}
            DB_HOST=${{ secrets.DB_HOST }}
            DB_PORT=${{ secrets.DB_PORT }}
            EOF
            
            # Применяем миграции БД
            echo "Applying database migrations..."
            python3 manage.py makemigrations
            python3 manage.py migrate
            
            # Собираем статические файлы
            echo "Collecting static files..."
            python3 manage.py collectstatic --noinput
            
            # Создаем/перезаписываем файл сервиса Gunicorn с правами суперпользователя
            echo "Creating Gunicorn service file..."
            sudo tee /etc/systemd/system/gunicorn.service > /dev/null <<EOF
            [Unit]
            Description=gunicorn daemon for my_django_sensor
            After=network.target
            
            [Service]
            User=plant-deployer
            Group=www-data
            WorkingDirectory=/home/plant-deployer/plant_monitoring
            ExecStart=/home/plant-deployer/plant_monitoring/venv/bin/gunicorn \
                      --workers 3 \
                      --group www-data \
                      --bind unix:/home/plant-deployer/plant_monitoring/gunicorn.sock \
                      plant_monitoring.wsgi:application
            
            [Install]
            WantedBy=multi-user.target
            EOF
            
            # Перезагружаем systemd, чтобы он увидел новый/измененный файл сервиса
            sudo systemctl daemon-reload
            
            # Перезапускаем Gunicorn
            echo "Restarting Gunicorn..."
            sudo systemctl restart gunicorn
            
            echo "Deployment finished successfully!"